GRADIO_SERVER_PORT=7875
GRADIO_SERVER_NAME=0.0.0.0
GRADIO_SHARE=1
GRADIO_USER=admin
GRADIO_DISABLE_AUTH=0
# GRADIO_PASSWORD=pon-una-clave-aleatoria-segura
YUE2_API_URL=http://127.0.0.1:7876
YUE2_BACKEND_PORT=7876
